$background-color: #2C2D44
body
    margin: 0
    background-color: $background-color
@media screen and (max-width: 420px)
    .hero
        .wrapper--logo
            position: absolute
            top: 0
            left: 0
            z-index: -1
        .wrapper--blops
            position: absolute
            top: 0
            right: 0
            z-index: -1
        .logo 
            display: flex
            justify-content: space-between
            align-items: center

            .logo-text
                font-size: 60px