$shadows: box-shadow: -5px -5px 10px #88e6a933, 10px 10px 20px #00000080
$accentColor: #88E6A9
$primaryColor: #4856cebf
$linearGradient: linear-gradient(95.19deg, #4856ce33 21.79%, #2c2d4433 102.81%), #2C2D44

    
*
    color: white
    margin: 0
    padding: 0
    font-family: 'Comfortaa', sans-serif


body
    margin: 0


section
    padding: 0px 20px
    display: relative
    padding-bottom: 200px

    &.hero
        height: 100vh
        display: flex
        align-content: center
    


.container
    max-width: 1040px
    width: 100%
    margin: 0px auto


.logo
    display: flex


h2
    font-size: 60px
    margin-bottom: 55px


h3
    font-size: 24px


p
    font-size: 18px
    margin-bottom: 30px


// Hero
.hero--mockup-wrap
    display: absolute
    right: 0
    margin: auto 0
    img
        width: 100%


// Two blocks
.two-blocks-wrap
    display: flex
    justify-content: space-between
    &.70-30
        .bloc
            width: 30%
        
        &:first-child
            width: 70%
