<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/style.css">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <div class="wrapper--logo">
            <img src="/frontend/static/image/logo_v2.png" alt="">
        </div>
        <div class="wrapper--blops">
            <img src="/frontend/static/image/blops.png" alt="">
        </div>
    </section>
</body>
</html>