<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <div class="wrapper--logo">
            <img src="/frontend/static/image/logo_v2.png" alt="">
        </div>
        <div class="wrapper--blops-1">
            <img src="/frontend/static/image/blops.png" alt="">
        </div>
        <div class="container">
            <div class="logo">
                <img src="/frontend/static/image/logo.svg" alt="">
                <p class="logo-text">nigma</p>
            </div>
            <p class="description">Crypto market of dream</p>
        </div>
        <div class="wrapper--blops-2">
            <img src="/frontend/static/image/blop-2.png" alt="">
        </div>
        <p class="paragraph">Read next</p>
        <div class="info-container">
            <h1 class="info-header">Header</h1>
            <p class="info-description-1">Lorem ipsum set dolore set ame am</p>
            <p class="info-description-2">Lorem ipsum set dolore set ame am</p>
            <button class="btn">Security policy</button>
        </div>
    </section>
</body>
</html>