<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
   <section class="hero">
        <div class="blob-wrap--login__top-1">
            <img src="/frontend/static/image/blops.png" alt="img no loaded">
        </div>
       <div class="blob-wrap--login__top-2">
           <img src="/frontend/static/image/blops2.svg" alt="img no loaded">
       </div>
       <div class="conteiner">
           <div class="inline-logo">
               <img src="/frontend/static/image/logo.svg" alt="img not loaded"> nigma
           </div>
           <p class="hello">
               Lorem Ipsum is simply dummy text of the printing and typesetting industry <img class="smile" src="/frontend/static/image/hello.svg" alt="img no loaded">
            </p>
            <form class="login-form" action="">
                <input placeholder="Login" class="login" type="text">
                <input placeholder="Password" class="pass" type="text">
                <button class="btn_confirm">Confirm</button>
            </form>
            <p>dasdsa <a href="#"></a></p>
            <h3>OR</h3>
            <button><img src="" alt=""></button>
       </div>
       <div class="waves-wrap-1--login__bot-1">
            <img src="" alt="">
        </div>

   </section>
</body>
</html>