<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/frontend/static/css/register.css">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <div class="container">
            <h1>Hi, friend</h1> <img src="/frontend/static/image/hello.svg" alt="img not loaded">
            <p class="big">To be polite and know U better, please, itroduce yourself</p>
            <form action="">
                <input type="text" placeholder="Login">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Password">
                <div class="button-inline-wrap">
                    <button class="submit">click me</button>
                    <button>VK</button>
                    <button>Bi</button>
                </div>
                <p>
                    have account? <a href="#">sign in</a>
                </p>
            </form>
        </div>
    </section>
</body>
</html>